@media (max-width: 575.98px) {
  .logo-principal {
    width: 60px;
    margin-left: 10px; }
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .pagina-principal {
    background-image: url("../public/header-max1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid; }
    .pagina-principal .bienvenida {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .pagina-principal .bienvenida-escritorio {
        display: none; }
  .textos- {
    margin-top: 70px; }
  .header-cafe {
    background-image: url("../public/cafe/header-cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw; }
  .principal-section-cafe h1 {
    text-align: center; }
  .principal-section-cafe .section-cafe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 70px; }
    .principal-section-cafe .section-cafe .cafe-multimedia {
      width: 80%;
      margin-bottom: 70px; }
      .principal-section-cafe .section-cafe .cafe-multimedia .img-cafe {
        max-width: 100%; }
    .principal-section-cafe .section-cafe .cafe-textos {
      display: flex;
      flex-direction: column; }
      .principal-section-cafe .section-cafe .cafe-textos p {
        color: black; }
  .section-principal-menu {
    margin-top: 70px; }
    .section-principal-menu .section-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .section-principal-menu .section-menu .acordion-padre {
        width: 100%; }
        .section-principal-menu .section-menu .acordion-padre .accordion {
          width: 100%;
          padding-right: 8%; }
      .section-principal-menu .section-menu .multimedia-menu {
        width: 80%;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: end;
        grid-gap: 20px; }
        .section-principal-menu .section-menu .multimedia-menu .img-menu {
          max-width: 100%;
          border-radius: 10px; }
  .cowork-principal {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 70px; }
  .cowork-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px; }
    .cowork-cards p {
      color: black; }
  .cowork-info {
    background-color: #204a4a;
    padding: 40px;
    display: grid;
    grid-template-areas: "cowork-wifi cowork-reuniones" "cowork-gastronomica cowork-descanso" "cowork-after cowork-dias";
    justify-content: space-around; }
    .cowork-info div {
      text-align: center; }
    .cowork-info .cowork-wifi {
      grid-area: cowork-wifi; }
    .cowork-info .cowork-reuniones {
      grid-area: cowork-reuniones; }
    .cowork-info .cowork-gastronomica {
      grid-area: cowork-gastronomica; }
    .cowork-info .cowork-descanso {
      grid-area: cowork-descanso; }
    .cowork-info .cowork-after {
      grid-area: cowork-after; }
    .cowork-info .cowork-dias {
      grid-area: cowork-dias; }
    .cowork-info p {
      color: white; }
  footer {
    display: grid;
    grid-template-areas: "footer-logo footer-redes" "footer-nosotros footer-direccion" "footer-taller footer-horario" "footer-menu footer-cowork"; }
    footer .footer-logo {
      grid-area: footer-logo;
      margin-top: 18px; }
      footer .footer-logo .logo-principal {
        width: 60px; }
    footer .footer-nosotros {
      grid-area: footer-nosotros; }
    footer .footer-redes {
      grid-area: footer-redes; }
    footer .footer-cowork {
      grid-area: footer-cowork; }
    footer .footer-direccion {
      grid-area: footer-direccion;
      margin-top: -11px; }
    footer .footer-taller {
      grid-area: footer-taller; }
    footer .footer-horario {
      grid-area: footer-horario;
      margin-top: -11px; }
    footer .iconos-redes {
      width: 18px; }
    footer p {
      color: black; } }

@media (min-width: 575.98px) {
  .logo-principal {
    width: 87px;
    margin-left: 33px; }
  .pagina-principal {
    background-image: url("../public/header-min1.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;
    display: grid;
    grid-template-areas: "nav-principal nav-principal" "bienvenida bienvenida"; }
    .pagina-principal .imagen-header {
      display: none; }
    .pagina-principal .nav-principal {
      grid-area: nav-principal; }
    .pagina-principal .bienvenida {
      grid-area: bienvenida;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .pagina-principal .bienvenida-mobil {
        display: none; }
  .section-principal-menu {
    margin-top: 70px; }
    .section-principal-menu .section-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .section-principal-menu .section-menu .acordion-padre {
        width: 50%; }
        .section-principal-menu .section-menu .acordion-padre .accordion {
          width: 100%;
          padding-right: 8%; }
      .section-principal-menu .section-menu .multimedia-menu {
        width: 50%;
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: end;
        grid-gap: 20px; }
        .section-principal-menu .section-menu .multimedia-menu .img-menu {
          max-width: 80%;
          border-radius: 10px; }
  .header-cafe {
    background-image: url("../public/cafe/header-cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw; }
  .principal-section-cafe .section-cafe {
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .principal-section-cafe .section-cafe .cafe-multimedia {
      width: 50%; }
      .principal-section-cafe .section-cafe .cafe-multimedia .img-cafe {
        max-width: 70%; }
    .principal-section-cafe .section-cafe .cafe-textos {
      display: flex;
      flex-direction: column; }
  .cowork-principal {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 70px auto;
    text-align: center; }
  .cowork-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px; }
    .cowork-cards p {
      color: black; }
  .cowork-info {
    background-color: #204a4a;
    padding: 40px;
    display: grid;
    grid-template-areas: "cowork-wifi cowork-reuniones cowork-gastronomica" "cowork-descanso cowork-after cowork-dias";
    justify-content: space-around;
    row-gap: 25px; }
    .cowork-info div {
      text-align: center; }
    .cowork-info .cowork-wifi {
      grid-area: cowork-wifi; }
    .cowork-info .cowork-reuniones {
      grid-area: cowork-reuniones; }
    .cowork-info .cowork-gastronomica {
      grid-area: cowork-gastronomica; }
    .cowork-info .cowork-descanso {
      grid-area: cowork-descanso; }
    .cowork-info .cowork-after {
      grid-area: cowork-after; }
    .cowork-info .cowork-dias {
      grid-area: cowork-dias; }
    .cowork-info p {
      color: white; }
  /* FOOTER */
  footer {
    display: grid;
    grid-template-areas: "footer-logo footer-nosotros footer-cowork footer-direccion" "footer-redes footer-taller footer-menu footer-horario"; }
    footer .footer-logo {
      grid-area: footer-logo;
      margin-top: 70px; }
    footer .footer-nosotros {
      grid-area: footer-nosotros; }
    footer .footer-cowork {
      grid-area: footer-cowork; }
    footer .footer-redes {
      grid-area: footer-redes;
      margin-left: 10px; }
    footer .footer-taller {
      grid-area: footer-taller; }
    footer .footer-menu {
      grid-area: footer-menu; }
    footer .footer-direccion {
      grid-area: footer-direccion;
      margin-top: -11px; }
    footer .footer-horario {
      grid-area: footer-horario;
      margin-top: -13px; }
    footer footer div {
      padding: 20px; }
    footer .iconos-redes {
      width: 26px; }
    footer p {
      color: black; } }

h1 {
  font-size: 1.8em;
  font-family: "Krona One", sans-serif;
  color: #204a4a;
  text-align: center; }

h2 {
  font-size: 1.5em;
  font-family: "Krona One", sans-serif;
  color: #204a4a; }

h3 {
  font-size: 1.25em;
  font-family: "Krona One", sans-serif;
  color: #204a4a;
  text-align: center; }

h4 {
  font-size: 1.2em;
  font-family: "Rubik", sans-serif;
  color: #204a4a;
  text-align: center; }

h5 {
  font-size: 0.95em;
  font-family: "Krona One", sans-serif;
  color: #204a4a;
  font-weight: bold;
  margin-top: 15px; }

p {
  font-family: "Rubik", sans-serif;
  font-size: 0.95em; }

.p-importante {
  font-weight: bold; }

.bienvenida-mobil {
  font-family: "Krona One", sans-serif;
  font-weight: bold;
  font-size: 1.6em;
  color: #204a4a;
  margin-top: 0; }

.bienvenida-escritorio {
  font-family: "Krona One", sans-serif;
  font-weight: bold;
  font-size: 3.75em;
  color: #204a4a;
  width: 70%;
  text-align: center; }

.p-section {
  font-family: "Rubik", sans-serif;
  font-size: 1.1em;
  color: black; }

.section-principal {
  margin-top: 70px; }
  .section-principal .img-nosotros {
    max-width: 99%;
    border-radius: 10px; }
  .section-principal .img-cafe-especialidad {
    max-width: 49%;
    height: auto;
    border-radius: 10px; }
  .section-principal .textos- {
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .section-principal .img-taller {
    max-width: 40%;
    height: auto;
    border-radius: 10px; }
  .section-principal .p-importante {
    font-weight: bold; }

footer {
  background-color: #e3ddd53d;
  max-width: 100%; }
  footer div {
    padding: 20px; }
  footer a {
    font-family: "Krona One", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.95em;
    color: #204a4a;
    margin-top: 15px; }
  footer div p {
    margin-top: 15px; }
  footer .p-importante {
    font-weight: bold; }

.header-cowork {
  background-image: url("../public/co-work/co-work.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 65vw; }

.header-taller {
  background-image: url("../public/taller/header-taller.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 65vw; }

.section-paginas {
  margin-top: 70px; }
  .section-paginas .img-taller {
    width: 100%;
    border-radius: 10px; }
  .section-paginas .textos- {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 70px; }
    .section-paginas .textos- .p-gris {
      color: #787878; }

.header-menu {
  background-image: url("../public/menu/header-menu.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 65vw; }

.texto-formulario {
  text-align: center; }

.formulario div {
  text-align: center; }

.header-cafe {
  background-image: url("../public/cafe/header-cafe.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 65vw; }

.principal-section-cafe {
  padding: 0 4rem; }
  .principal-section-cafe .section-cafe {
    margin-top: 70px; }
    .principal-section-cafe .section-cafe .cafe-multimedia {
      text-align: center; }
    .principal-section-cafe .section-cafe .cafe-textos {
      margin-bottom: 70px; }

.iconos-cowork {
  width: 40px; }

.section-menu {
  margin-top: 70px; }
  .section-menu .texto-sec {
    align-self: center; }

.listas {
  list-style: none; }

.section-menu-preguntas {
  margin-top: 70px; }

@media (max-width: 575.98px) {
  .text-error {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .text-error .h1-paginas-error {
      display: none; }
    .text-error .h1-paginas-error-mobil {
      font-family: "Krona One", sans-serif;
      font-weight: bold;
      font-size: 1.6em;
      color: #CF5F39;
      margin-top: 0; }
    .text-error .boton-error {
      background-color: #CF5F39; }
  .nav-error {
    display: flex; }
    .nav-error .logo-error {
      width: 60px;
      margin-left: 10px; } }

@media (min-width: 575.98px) {
  .text-error {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .text-error .h1-paginas-error {
      font-family: "Krona One", sans-serif;
      font-weight: bold;
      font-size: 3.75em;
      color: #CF5F39;
      width: 70%;
      text-align: center; }
    .text-error .h1-paginas-error-mobil {
      display: none; }
    .text-error .boton-error {
      background-color: #CF5F39; }
  .nav-error {
    display: flex; }
    .nav-error .logo-error {
      width: 80px;
      margin-left: 10px; } }

.header-cafe-error {
  background-image: url("../public/error/header-cafe-error.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 56vw; }

.header-menu-error {
  background-image: url("../public/error/header-menu-error.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 56vw; }

.header-cowork-error {
  background-image: url("../public/error/header-cowork-error.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 56vw; }

.header-taller-error {
  background-image: url("../public/error/header-taller-error.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 56vw; }
