@media (max-width: 575.98px) {
  .logo-principal {
    width: 60px;
    margin-left: 10px; }
  .pagina-principal {
    background-image: url("../public/header-max1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid; }
    .pagina-principal .nav-principal .navbar-nav {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .pagina-principal .bienvenida {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .pagina-principal .bienvenida-escritorio {
        display: none; }
      .pagina-principal .bienvenida h1 {
        font-family: "Krona One", sans-serif;
        font-weight: bold;
        font-size: 27px;
        color: #204a4a;
        margin-top: 0; }
  .section-principal .section-multimedia {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
  .header-cafe {
    background-image: url("../public/cafe/header-cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw; }
  .principal-section-cafe {
    padding: 0 4rem; }
    .principal-section-cafe h1 {
      font-size: 30px; }
    .principal-section-cafe .section-cafe {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around; }
      .principal-section-cafe .section-cafe .cafe-multimedia {
        width: 80%;
        margin-bottom: 70px; }
        .principal-section-cafe .section-cafe .cafe-multimedia .img-cafe {
          max-width: 100%; }
      .principal-section-cafe .section-cafe .cafe-textos {
        display: flex;
        flex-direction: column; }
        .principal-section-cafe .section-cafe .cafe-textos h2 {
          font-size: 20px; }
        .principal-section-cafe .section-cafe .cafe-textos p {
          font-size: 12px; }
  .section-menu {
    display: flex;
    flex-direction: column; }
  .cowork-principal {
    display: flex;
    flex-direction: column;
    margin: 50px; }
  .cowork-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 50px; }
  .cowork-info {
    background-color: #204a4a;
    padding: 40px;
    display: grid;
    grid-template-areas: "cowork-wifi cowork-reuniones" "cowork-gastronomica cowork-descanso" "cowork-after cowork-dias";
    justify-content: space-around; }
    .cowork-info .cowork-wifi {
      grid-area: cowork-wifi; }
    .cowork-info .cowork-reuniones {
      grid-area: cowork-reuniones; }
    .cowork-info .cowork-gastronomica {
      grid-area: cowork-gastronomica; }
    .cowork-info .cowork-descanso {
      grid-area: cowork-descanso; }
    .cowork-info .cowork-after {
      grid-area: cowork-after; }
    .cowork-info .cowork-dias {
      grid-area: cowork-dias; }
    .cowork-info p {
      color: white; }
    .cowork-info .iconos-cowork {
      width: 40px; }
  .iconos-cowork {
    width: 60px; }
  footer {
    display: grid;
    grid-template-areas: "footer-logo footer-redes" "footer-nosotros footer-direccion" "footer-taller footer-horario" "footer-menu footer-cowork"; }
    footer .footer-logo {
      grid-area: footer-logo;
      margin-top: 18px; }
      footer .footer-logo .logo-principal {
        width: 60px; }
    footer .footer-nosotros {
      grid-area: footer-nosotros; }
    footer .footer-redes {
      grid-area: footer-redes; }
    footer .footer-cowork {
      grid-area: footer-cowork; }
    footer .footer-direccion {
      grid-area: footer-direccion;
      margin-top: -11px; }
    footer .footer-taller {
      grid-area: footer-taller; }
    footer .footer-horario {
      grid-area: footer-horario;
      margin-top: -11px; }
    footer .iconos-redes {
      width: 18px; } }

@media (min-width: 575.98px) {
  .logo-principal {
    width: 87px;
    margin-left: 33px; }
  .pagina-principal {
    background-image: url("../public/header-min1.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;
    display: grid;
    grid-template-areas: "nav-principal nav-principal" "bienvenida bienvenida"; }
    .pagina-principal .imagen-header {
      display: none; }
    .pagina-principal .nav-principal {
      grid-area: nav-principal; }
    .pagina-principal .bienvenida {
      grid-area: bienvenida;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .pagina-principal .bienvenida-mobil {
        display: none; }
      .pagina-principal .bienvenida h1 {
        font-family: "Krona One", sans-serif;
        font-weight: bold;
        font-size: 60px;
        color: #204a4a;
        width: 70%;
        text-align: center; }
  .section-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header-cafe {
    background-image: url("../public/cafe/header-cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw; }
  .principal-section-cafe {
    padding: 0 4rem; }
    .principal-section-cafe .section-cafe {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around; }
      .principal-section-cafe .section-cafe .cafe-multimedia {
        width: 50%; }
        .principal-section-cafe .section-cafe .cafe-multimedia .img-cafe {
          max-width: 70%; }
      .principal-section-cafe .section-cafe .cafe-textos {
        display: flex;
        flex-direction: column; }
        .principal-section-cafe .section-cafe .cafe-textos h2 {
          font-size: 30px; }
        .principal-section-cafe .section-cafe .cafe-textos p {
          font-size: 12px; }
  .cowork-principal {
    display: flex;
    flex-direction: column;
    margin: 50px; }
  .cowork-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px; }
  .cowork-info {
    background-color: #204a4a;
    padding: 40px;
    display: grid;
    grid-template-areas: "cowork-wifi cowork-reuniones cowork-gastronomica" "cowork-descanso cowork-after cowork-dias";
    justify-content: space-around; }
    .cowork-info .cowork-wifi {
      grid-area: cowork-wifi; }
    .cowork-info .cowork-reuniones {
      grid-area: cowork-reuniones; }
    .cowork-info .cowork-gastronomica {
      grid-area: cowork-gastronomica; }
    .cowork-info .cowork-descanso {
      grid-area: cowork-descanso; }
    .cowork-info .cowork-after {
      grid-area: cowork-after; }
    .cowork-info .cowork-dias {
      grid-area: cowork-dias; }
    .cowork-info p {
      color: white; }
  .iconos-cowork {
    width: 60px; }
  /* FOOTER */
  footer {
    display: grid;
    grid-template-areas: "footer-logo footer-nosotros footer-cowork footer-direccion" "footer-redes footer-taller footer-menu footer-horario";
    margin-top: 50px; }
    footer .footer-logo {
      grid-area: footer-logo;
      margin-top: 70px; }
    footer .footer-nosotros {
      grid-area: footer-nosotros; }
    footer .footer-cowork {
      grid-area: footer-cowork; }
    footer .footer-redes {
      grid-area: footer-redes;
      margin-left: 10px; }
    footer .footer-taller {
      grid-area: footer-taller; }
    footer .footer-menu {
      grid-area: footer-menu; }
    footer .footer-direccion {
      grid-area: footer-direccion;
      margin-top: -11px; }
    footer .footer-horario {
      grid-area: footer-horario;
      margin-top: -13px; }
    footer footer div {
      padding: 20px; }
    footer .iconos-redes {
      width: 26px; } }

.p-section {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: black; }

.section-principal {
  margin-top: 70px; }
  .section-principal .img-nosotros {
    max-width: 99%;
    border-radius: 10px; }
  .section-principal .img-cafe-especialidad {
    max-width: 49%;
    height: auto;
    border-radius: 10px; }
  .section-principal .textos- {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 40px; }
    .section-principal .textos- h2 {
      font-family: "Krona One", sans-serif;
      font-size: 30px;
      color: #204a4a; }
  .section-principal .img-taller {
    max-width: 40%;
    height: auto;
    border-radius: 10px; }
  .section-principal .p-importante {
    font-weight: bold; }

footer {
  background-color: #e3ddd53d;
  max-width: 100%; }
  footer div {
    padding: 20px; }
  footer a {
    font-family: "Krona One", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #204a4a;
    margin-top: 15px; }
  footer div p {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    font-size: 12px;
    color: black;
    margin-top: 15px; }
  footer .p-importante {
    font-weight: bold; }
  footer h5 {
    font-family: "Krona One", sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: #204a4a;
    margin-top: 15px; }

.section-menu .multimedia-menu {
  width: 50%; }
  .section-menu .multimedia-menu .img-menu {
    max-width: 50%; }

.header-cowork {
  background-image: url("../public/co-work/co-work1.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 65vw; }

.header-taller {
  background-image: url("../public/taller/header-taller.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 65vw; }

.section-paginas {
  margin-top: 70px; }
  .section-paginas .img-taller {
    width: 100%; }
  .section-paginas .textos- {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 70px; }
    .section-paginas .textos- .p-importante {
      font-weight: bold; }
    .section-paginas .textos- .p-gris {
      color: #787878; }

.header-menu {
  background-image: url("../public/menu/header-menu.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 65vw; }

.header-cafe {
  background-image: url("../public/cafe/header-cafe.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 65vw; }

.principal-section-cafe {
  padding: 0 4rem; }
  .principal-section-cafe h1 {
    font-family: "Krona One", sans-serif;
    color: #204a4a;
    text-align: center; }
  .principal-section-cafe .section-cafe {
    margin-top: 100px; }
    .principal-section-cafe .section-cafe .cafe-multimedia {
      text-align: center; }
    .principal-section-cafe .section-cafe .cafe-textos {
      margin-bottom: 70px; }
      .principal-section-cafe .section-cafe .cafe-textos h2 {
        font-family: "Krona One", sans-serif;
        color: #204a4a; }
      .principal-section-cafe .section-cafe .cafe-textos p {
        font-family: "Rubik", sans-serif;
        color: black;
        margin-top: 15px; }

.section-menu1 .texto-sec {
  align-self: center; }

.section-menu1 .especiales-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
