@import "../scss/variables-local.scss";

h1 {
    font-size: 1.8em;
    font-family: $font-T;
    color: $color-t;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    font-family: $font-T;
    color: $color-t;
}

h3 {
    font-size: 1.25em;
    font-family: $font-T;
    color: $color-t;
    text-align: center;
}

h4 {
    font-size: 1.2em;
    font-family: $font-S;
    color: $color-t;
    text-align: center;
}

h5 {
    font-size: 0.95em;
    font-family: $font-T;
    color: $color-t;
    font-weight: bold;
    margin-top: 15px
}

p {
    font-family: $font-S;
    font-size: 0.95em;
}


.p-importante {
    font-weight: bold;
}

.bienvenida-mobil {
    font-family: $font-T;
    font-weight: bold;
    font-size: 1.6em;
    color: $color-t;
    margin-top: 0;
}

.bienvenida-escritorio {
    font-family: $font-T;
    font-weight: bold;
    font-size: 3.75em;
    color: $color-t;
    width: 70%;
    text-align: center;

}

.p-gris {
    color: #787878;
}


.p-section {
    font-family: $font-S;
    font-size: 1.1em;
    color: $color-n;
}


// PAGINA PRINCIPAL


.main-pagina-principal {
    margin: $separacion $separacion;

    .section-principal {
        margin: $separacion;

        .img-nosotros {
            max-width: 99%;
            border-radius: $borde;
        }

        .img-cafe-especialidad {
            max-width: 48%;
            height: auto;
            border-radius: $borde;
        }

        .textos- {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .img-taller {
            max-width: 40%;
            height: auto;
            border-radius: $borde;
        }

        .p-importante {
            font-weight: bold;
        }
    }
}



footer {
    background-color: #e3ddd53d;
    max-width: 100%;

    div {
        padding: 20px;
    }

    a {
        font-family: $font-T;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.95em;
        color: $color-t;
        margin-top: 15px;
    }

    div p {
        margin-top: 15px;
    }

    .p-importante {
        font-weight: bold;
    }
}






// PAGINAS


.header-cowork {
    background-image: url("../public/co-work/co-work.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;

}

.header-taller {
    background-image: url("../public/taller/header-taller.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;
}

.section-paginas {
    margin-top: $separacion;

    .img-taller {
        width: 100%;
        border-radius: $borde;
    }

    .textos- {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 70px;

        .p-gris {
            color: #787878;
        }
    }
}


// MENU

.header-menu {
    background-image: url("../public/menu/header-menu.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;
}


.texto-formulario {
    text-align: center;
}

.formulario {
    div {
        text-align: center;
    }
}

.form {
    margin-bottom: $separacion;
}