@import "../scss/variables-local.scss";


// PAGINA PRINCIPAL

.p-section {
    font-family: $font-S;
    text-decoration: none;
    font-size: 20px;
    color: black;
}


.section-principal {
    margin-top: 70px;

    .img-nosotros {
        max-width: 99%;
        border-radius: 10px;
    }

    .img-cafe-especialidad {
        max-width: 49%;
        height: auto;
        border-radius: 10px;
    }

    .textos- {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-top: 40px;

        h2 {
            font-family: $font-T;
            font-size: 30px;
            color: $color-t;
        }
    }

    .img-taller{
        max-width: 40%;
        height: auto;
        border-radius: 10px;
    }



    .p-importante {
        font-weight: bold;
    }



}

footer {
    background-color: #e3ddd53d;
    max-width: 100%;

    div {
        padding: 20px;
    }

    a {
        font-family: $font-T;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        color: $color-t;
        margin-top: 15px;
    }

    div p {
        font-family: $font-S;
        text-decoration: none;
        font-size: 12px;
        color: black;
        margin-top: 15px;
    }

    .p-importante {
        font-weight: bold;
    }

    h5 {
        font-family: $font-T;
        text-decoration: none;
        font-weight: bold;
        font-size: 12px;
        color: $color-t;
        margin-top: 15px;
    }
}




// PAGINAS


.section-menu{

    .multimedia-menu{

        width: 50%;

        .img-menu{
            max-width: 50%;
    
        }


    }

}



// taller


.header-cowork{
    background-image: url("../public/co-work/co-work1.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;

}

.header-taller{
    background-image: url("../public/taller/header-taller.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;
}

.section-paginas {
    margin-top: 70px;

    .img-taller{
        width: 100%;
    }

    .textos- {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 70px;

        .p-importante {
            font-weight: bold;
        }

        .p-gris {
            color: #787878;
        }
    }
}


// MENU

.header-menu{
    background-image: url("../public/menu/header-menu.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;
}