@import "../scss/variables-local.scss";


// MOBIL


@media (max-width: 575.98px) {

    .logo-principal {
        width: 60px;
        margin-left: 10px;

    }

    .pagina-principal {
        background-image: url("../public/header-max1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: grid;

        .nav-principal {
            .navbar-nav {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .bienvenida {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-escritorio {
                display: none;
            }

            h1 {
                font-family: $font-T;
                font-weight: bold;
                font-size: 27px;
                color: $color-t;
                margin-top: 0;
            }
        }

    }

    .section-principal {


        .section-multimedia {
            margin-bottom: 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

        }

    }






    // PAGINAS


    .header-cafe {
        background-image: url("../public/cafe/header-cafe.jpg");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 65vw;
    }
    
    .principal-section-cafe {
    
        padding: 0 4rem;


        h1{
            font-family: $font-T;
            font-size: 30px;
            color: $color-t;

        }
    
        .section-cafe {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-top: 70px;
    
            .cafe-multimedia{
                width: 80%;
                text-align: center;
                margin-bottom: 70px;
    
                .img-cafe {
                    max-width: 100%;
                }
            }
    
            .cafe-textos {
                display: flex;
                flex-direction: column;
                margin-bottom: 70px;
    
                h2 {
                    font-family: $font-T;
                    font-size: 20px;
                    color: $color-t;
                }
    
                p {
                    font-family: $font-S;
                    text-decoration: none;
                    font-size: 12px;
                    color: black;
                    margin-top: 15px;
                }
            }
    
        }
    }





  
    .cowork-principal {
        display: flex;
        flex-direction: column;
        margin: 50px;
    }

    .cowork-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
    }

    .cowork-info {
        background-color: $color-t;
        padding: 40px;
        display: grid;
        grid-template-areas: "cowork-wifi cowork-reuniones"
            "cowork-gastronomica cowork-descanso"
            "cowork-after cowork-dias";
        justify-content: space-around;

        .cowork-wifi {
            grid-area: cowork-wifi;
        }

        .cowork-reuniones {
            grid-area: cowork-reuniones;
        }

        .cowork-gastronomica {
            grid-area: cowork-gastronomica;
        }

        .cowork-descanso {
            grid-area: cowork-descanso;
        }

        .cowork-after {
            grid-area: cowork-after;
        }

        .cowork-dias {
            grid-area: cowork-dias;
        }

        p {
            color: white;
        }

        .iconos-cowork {
            width: 40px;
        }
    }

    .iconos-cowork {
        width: 60px;
    }

    footer {

        display: grid;
        grid-template-areas:
            "footer-logo footer-redes"
            "footer-nosotros footer-direccion"
            "footer-taller footer-horario"
            "footer-menu footer-cowork";

        .footer-logo {
            grid-area: footer-logo;
            margin-top: 18px;

            .logo-principal {
                width: 60px;

            }
        }

        .footer-nosotros {
            grid-area: footer-nosotros;
        }

        .footer-redes {
            grid-area: footer-redes;
        }

        .footer-cowork {
            grid-area: footer-cowork;
        }

        .footer-direccion {
            grid-area: footer-direccion;
            margin-top: -11px;
        }

        .footer-taller {
            grid-area: footer-taller;
        }

        .footer-horario {
            grid-area: footer-horario;
            margin-top: -11px;
        }

        .iconos-redes {
            width: 18px;
        }
    }

}










// ESCRITORIO


@media (min-width: 575.98px) {

    .logo-principal {
        width: 87px;
        margin-left: 33px;
    }

    .pagina-principal {
        background-image: url("../public/header-min1.png");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 65vw;
        display: grid;
        grid-template-areas: "nav-principal nav-principal"
            "bienvenida bienvenida";

        .imagen-header {
            display: none;
        }


        .nav-principal {
            grid-area: nav-principal;
        }

        .bienvenida {
            grid-area: bienvenida;
            display: flex;
            flex-direction: column;
            align-items: center;


            &-mobil {
                display: none;
            }

            h1 {
                font-family: $font-T;
                font-weight: bold;
                font-size: 60px;
                color: $color-t;
                width: 70%;
                text-align: center;

            }
        }
    }




    // PAGINAS



    .header-cafe {
        background-image: url("../public/cafe/header-cafe.jpg");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 65vw;
    }
    
    .principal-section-cafe {
    
        padding: 0 4rem;
    
        .section-cafe {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-top: 70px;
    
            .cafe-multimedia{
                width: 50%;
                text-align: center;
    
                .img-cafe {
                    max-width: 70%;
                }
            }
    
            .cafe-textos {
                display: flex;
                flex-direction: column;
    
                h2 {
                    font-family: $font-T;
                    font-size: 30px;
                    color: $color-t;
                }
    
                p {
                    font-family: $font-S;
                    text-decoration: none;
                    font-size: 12px;
                    color: black;
                    margin-top: 15px;
                }
            }
    
        }
    }

    .cowork-principal {
        display: flex;
        flex-direction: column;
        margin: 50px;
    }

    .cowork-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px;
    }

    .cowork-info {
        background-color: $color-t;
        padding: 40px;
        display: grid;
        grid-template-areas: "cowork-wifi cowork-reuniones cowork-gastronomica"
            "cowork-descanso cowork-after cowork-dias";
        justify-content: space-around;

        .cowork-wifi {
            grid-area: cowork-wifi;
        }

        .cowork-reuniones {
            grid-area: cowork-reuniones;
        }

        .cowork-gastronomica {
            grid-area: cowork-gastronomica;
        }

        .cowork-descanso {
            grid-area: cowork-descanso;
        }

        .cowork-after {
            grid-area: cowork-after;
        }

        .cowork-dias {
            grid-area: cowork-dias;
        }

        p {
            color: white;
        }
    }

    .iconos-cowork {
        width: 60px;
    }

    /* FOOTER */

    footer {

        display: grid;
        grid-template-areas:
            "footer-logo footer-nosotros footer-cowork footer-direccion"
            "footer-redes footer-taller footer-menu footer-horario";
        margin-top: 50px;

        .footer-logo {
            grid-area: footer-logo;
            margin-top: 70px;
        }

        .footer-nosotros {
            grid-area: footer-nosotros;
        }

        .footer-cowork {
            grid-area: footer-cowork;
        }

        .footer-redes {
            grid-area: footer-redes;
            margin-left: 10px;
        }

        .footer-taller {
            grid-area: footer-taller;
        }

        .footer-menu {
            grid-area: footer-menu;
        }

        .footer-direccion {
            grid-area: footer-direccion;
            margin-top: -11px;
        }

        .footer-horario {
            grid-area: footer-horario;
            margin-top: -13px;
        }

        footer div {
            padding: 20px;
        }

        .iconos-redes {
            width: 26px;
        }

    }
}