@import "../scss/variables-local.scss";


// MOBIL


@media (max-width: 575.98px) {

    .logo-principal {
        width: 60px;
        margin-left: 10px;

    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pagina-principal {
        background-image: url("../public/header-max1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: grid;

        .bienvenida {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-escritorio {
                display: none;
            }

        }

    }

    .textos- {
        margin-top: $separacion;
    }






    // PAGINAS


    .header-cafe {
        background-image: url("../public/cafe/header-cafe.jpg");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 65vw;
    }

    .principal-section-cafe {

        h1 {
            text-align: center;
        }

        .section-cafe {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-bottom: $separacion;

            .cafe-multimedia {
                width: 80%;
                margin-bottom: 70px;

                .img-cafe {
                    max-width: 100%;
                }
            }

            .cafe-textos {
                display: flex;
                flex-direction: column;
                width: 50%;

                p {
                    color: $color-n;
                }
            }

        }
    }




    .section-principal-menu {

        margin-top: $separacion;


        .section-menu {

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .acordion-padre {
                width: 100%;

                .accordion {
                    width: 100%;
                    padding-right: 8%;
                }
            }

            .multimedia-menu {

                width: 80%;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-content: end;
                grid-gap: 20px;

                .img-menu {
                    max-width: 100%;
                    border-radius: $borde;
                }

            }

        }

    }





    .cowork-principal {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: $separacion
    }

    .cowork-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;


        p {
            color: $color-n;
        }
    }

    .cowork-info {
        background-color: $color-t;
        padding: 40px;
        display: grid;
        grid-template-areas: "cowork-wifi cowork-reuniones"
            "cowork-gastronomica cowork-descanso"
            "cowork-after cowork-dias";
        justify-content: space-around;

        div {
            text-align: center;
        }

        .cowork-wifi {
            grid-area: cowork-wifi;
        }

        .cowork-reuniones {
            grid-area: cowork-reuniones;
        }

        .cowork-gastronomica {
            grid-area: cowork-gastronomica;
        }

        .cowork-descanso {
            grid-area: cowork-descanso;
        }

        .cowork-after {
            grid-area: cowork-after;
        }

        .cowork-dias {
            grid-area: cowork-dias;
        }

        p {
            color: $color-w;
        }
    }


    footer {

        display: grid;
        grid-template-areas:
            "footer-logo footer-redes"
            "footer-nosotros footer-direccion"
            "footer-taller footer-horario"
            "footer-menu footer-cowork";

        .footer-logo {
            grid-area: footer-logo;
            margin-top: 18px;

            .logo-principal {
                width: 60px;

            }
        }

        .footer-nosotros {
            grid-area: footer-nosotros;
        }

        .footer-redes {
            grid-area: footer-redes;
        }

        .footer-cowork {
            grid-area: footer-cowork;
        }

        .footer-direccion {
            grid-area: footer-direccion;
            margin-top: -11px;
        }

        .footer-taller {
            grid-area: footer-taller;
        }

        .footer-horario {
            grid-area: footer-horario;
            margin-top: -11px;
        }

        .iconos-redes {
            width: 18px;
        }

        p {
            color: $color-n;
        }
    }

}










// ESCRITORIO


@media (min-width: 575.98px) {

    .logo-principal {
        width: 87px;
        margin-left: 33px;
    }

    .pagina-principal {
        background-image: url("../public/header-min1.png");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 65vw;
        display: grid;
        grid-template-areas: "nav-principal nav-principal"
            "bienvenida bienvenida";

        .imagen-header {
            display: none;
        }


        .nav-principal {
            grid-area: nav-principal;
        }

        .bienvenida {
            grid-area: bienvenida;
            display: flex;
            flex-direction: column;
            align-items: center;


            &-mobil {
                display: none;
            }

        }
    }




    // PAGINAS

    .section-principal-menu {

        margin-top: $separacion;


        .section-menu {

            .acordion-padre {
                width: 50%;

                .accordion {
                    width: 100%;
                    padding-right: 8%;
                }
            }

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


            .multimedia-menu {

                width: 50%;
                display: grid;
                grid-template-columns: auto auto;
                align-items: center;
                justify-content: end;
                grid-gap: 20px;

                .img-menu {
                    max-width: 80%;
                    border-radius: $borde;

                }


            }

        }

    }


    .header-cafe {
        background-image: url("../public/cafe/header-cafe.jpg");
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 65vw;
    }

    .principal-section-cafe {

        .section-cafe {
            margin-bottom: $separacion;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .cafe-multimedia {
                width: 50%;

                .img-cafe {
                    max-width: 70%;
                }
            }

            .cafe-textos {
                display: flex;
                flex-direction: column;
                width: 50%;
            }

        }
    }

    .cowork-principal {
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: $separacion auto;
        text-align: center;
    }

    .cowork-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px;

        p {
            color: $color-n;
        }
    }

    .cowork-info {
        background-color: $color-t;
        padding: 40px;
        display: grid;
        grid-template-areas: "cowork-wifi cowork-reuniones cowork-gastronomica"
            "cowork-descanso cowork-after cowork-dias";
        justify-content: space-around;
        row-gap: 25px;

        div {
            text-align: center;
        }

        .cowork-wifi {
            grid-area: cowork-wifi;
        }

        .cowork-reuniones {
            grid-area: cowork-reuniones;
        }

        .cowork-gastronomica {
            grid-area: cowork-gastronomica;
        }

        .cowork-descanso {
            grid-area: cowork-descanso;
        }

        .cowork-after {
            grid-area: cowork-after;
        }

        .cowork-dias {
            grid-area: cowork-dias;
        }

        p {
            color: $color-w;
        }
    }


    /* FOOTER */

    footer {

        display: grid;
        grid-template-areas:
            "footer-logo footer-nosotros footer-cowork footer-direccion"
            "footer-redes footer-taller footer-menu footer-horario";

        .footer-logo {
            grid-area: footer-logo;
            margin-top: $separacion;
        }

        .footer-nosotros {
            grid-area: footer-nosotros;
        }

        .footer-cowork {
            grid-area: footer-cowork;
        }

        .footer-redes {
            grid-area: footer-redes;
            margin-left: 10px;
        }

        .footer-taller {
            grid-area: footer-taller;
        }

        .footer-menu {
            grid-area: footer-menu;
        }

        .footer-direccion {
            grid-area: footer-direccion;
            margin-top: -11px;
        }

        .footer-horario {
            grid-area: footer-horario;
            margin-top: -13px;
        }

        footer div {
            padding: 20px;
        }

        .iconos-redes {
            width: 26px;
        }

        p {
            color: $color-n;
        }

    }
}