@import "../scss/variables-local.scss";


.section-menu{

    margin-top: $separacion;

    .texto-sec{
        align-self: center;
    }
    
    
    // .especiales-menu{
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-around;
    //     align-items: center;
    // }

}

.listas-comida{
    list-style: none;
}

.section-menu-preguntas{

    margin-top: $separacion;
}
