@import "../scss/variables-local.scss";


.section-menu{

    margin-top: $separacion;

    .texto-sec{
        align-self: center;
    }

}

.listas-comida{
    list-style: none;
}

.section-menu-preguntas{

    margin-top: $separacion;
}
