@import "../scss/variables-local.scss";

.header-cafe {
    background-image: url("../public/cafe/header-cafe\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.principal-section-cafe{

    padding: 3rem;

    .section-cafe {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 50px;

    
        .img-cafe {
            max-width: 80%;
            border-radius: 10px;
        }
    
        div {
            width: 50%;
     
    
            .cafe-textos {
                display: flex;
    
                h2 {
                    font-family: $font-T;
                    font-size: 30px;
                    color: $color-t;
                }
    
                p {
                    font-family: $font-S;
                    text-decoration: none;
                    font-size: 12px;
                    color: black;
                    margin-top: 15px;
                }
            }
        }
    }
}






