@import "../scss/variables-local.scss";

.header-cafe {
    background-image: url("../public/cafe/header-cafe.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 65vw;
}

.principal-section-cafe {
    padding: 0 4rem;

    .section-cafe {
        margin-top: $separacion;

        .cafe-multimedia{
            text-align: center;

        }

        .cafe-textos {
            margin-bottom: $separacion;
            

            // h2 {
            //     font-family: $font-T;
            //     color: $color-t;
            // }

            // p {
            //     font-family: $font-S;
            //     color: black;
            // }
        }

    }
}